<!-- <footer class="footer"> -->
  <!-- Footer Text -->
  <div class="container-fluid text-center">
    <marquee behavior="alternate"><p style="font-family: Impact; font-size: 10pt">DROOM-India's most trusted motorplace! Reach out to our automobile experts at Droom Assist for buying and selling assistance.</p></marquee>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
         <img src="assets/droom.png" width="90" height="50">
      </div>
      <!-- Grid column -->

      <!--hr class="clearfix w-100 d-md-none pb-3"!-->

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
      <p>
          Conatct us at:<br>
           Call: 4875931518<br>
           WhatsApp: 8759648123<br>
           Gmail: droomassist@gmail.com<br></p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
</div>
  <!-- Footer Text -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
  </div>
  