     <body >
       <div class="container-fluid" style="margin-top:70px;">
    <div class="container-fluid">
        <div class="row" >
      <div class ="col-xl-4 col-lg-4 col-md-3 col-sm-2 ">
          <img src="assets/logo.png" alt="droom logo" height=50px>
        </div>
        <div style="margin-left: 713px">
            <a href="login" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-user"></span> Login
            </a>
          
        </div>
      
        </div>
        <div class="container-fluid" style="margin-top:5px;">
            <div class="row">    
                <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              <span id="search_concept">Filter by</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#contains">Contains</a></li>
                              <li><a href="#its_equal">It's equal</a></li>
                              <li><a href="#greather_than">Greather than ></a></li>
                              <li><a href="#less_than">Less than < </a></li>
                              <li class="divider"></li>
                              <li><a href="#all">Anything</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="search_param" value="all" id="search_param">         
                        <input type="text" class="form-control" name="x" placeholder="Search term...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
          </div>
        </div>
        
<!-- </header> -->

<div class="container-fluid">
    <div class="row">
  <div class ="col-xl-2 col-lg-2 col-md-3 col-sm-4 ">
    <h2>DROOM</h2>
  	
  </div>
  <div class ="col-xl-10 col-lg-10 col-md-9 col-sm-8  " >
    <nav class="navbar navbar-expand-sm  navbar-light">
      <button class ="navbar-toggler" type="button" data-toggle ="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id ="collapsibleNavbar">
        <ul class ="navbar-nav">
          <li class ="navbar-item">
            <a class ="nav-link" href="#">Check Pricing</a>
          </li>
          <li class ="navbar-item">
              <a class ="nav-link" href="#">Get Vehicle Inspection</a>
          </li>
          <li class ="navbar-item">
                <a class ="nav-link" href="#">Get Vehicle History</a>
          </li>
          <li class ="navbar-item">
                  <a class ="nav-link" href="#">Get Loan</a>
          </li>
          <li class ="navbar-item">
                <a class ="nav-link" href="quicksell">Quick Sell</a>
          </li>
          <li class ="navbar-item">
              <a class ="nav-link" href="#">Cerification Services</a>
          </li>
          <li class ="navbar-item">
              <a class ="nav-link" href="#">Deals</a>
          </li>
          <li class ="navbar-item">
              <a class ="nav-link" href="#">Vehicle Research</a>
          </li>
          <li class ="navbar-item">
             <a class ="nav-link" href="#">Help</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  </div>
</div>
                 




</div>

<div class="container-fluid">
    <div class="row">
      <div class ="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
          <div class="container-fluid">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="assets/image1.jpeg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Cars</h4>
                  <p class="card-text">Upto 40% cashback</p>
                  <p style="float: right;"><a href="#"class="btn btn-primary">Buy Now</a></p>
                </div>
             </div>
        </div>
      </div>
      <div class ="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
        <div class="container-fluid">
            <div class="card" style="width:400px">
              <img class="card-img-top" src="assets/image1.jpeg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Cars</h4>
                <p class="card-text">Upto 10% cashback</p>
                <p style="float: right;"><a href="#"class="btn btn-primary">Buy Now</a></p>
              </div>
            </div>
      </div>
    </div>
    <div class ="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
      <div class="container-fluid">
          <div class="card" style="width:400px">
            <img class="card-img-top" src="assets/image1.jpeg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Cars</h4>
              <p class="card-text">Upto 50% cashback</p>
              <p style="float: right;"><a href="#"class="btn btn-primary">Buy Now</a></p>
            </div>
          </div>
     </div>
    </div>
        </div>
        </div>

  <div> 
<nav class="navbar navbar-expand-sm bg-light navbar-light" >
  <ul class="navbar-nav">
    <li class="nav-item active" >
      <a class="nav-link" data-toggle="collapse" href="#collapseExample"  role="button" aria-expanded="false" aria-controls="collapseExample">Vehicles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">Loan and Insurance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">Certification services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">Automobile services</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">Everything else</a>
    </li>
  </ul>
</nav>
<div class="collapse" id="collapseExample">
<div class="row">

    
      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/car.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/plane.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/taxi.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/bicycle.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/bike.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>

       <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/scooter.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->
    </div>
</div>

<div class="collapse" id="collapseExample1">
<div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/loan.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/insurance.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/rsa.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/warranty.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->
      
    </div>
</div>

<div class="collapse" id="collapseExample2">
  <div class="row">
   <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/img1.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/img2.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/img3.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>

       <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/img4.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->
</div>
</div>

<div class="collapse" id="collapseExample3">
 <div class="row">

    
      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/i1.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/i2.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/i3.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/i4.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/i5.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>

       <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/i6.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->
    </div>
</div>

<div class="collapse" id="collapseExample4">
  <div class="row">
  <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/im1.png" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/im2.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>

       <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="assets/im3.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->
    </div>
</div>
</div>
   

<app-footer></app-footer>
</div>
</body>